:root {
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
body {
  font-family: 'roboto', helvetica, sans-serif;
  overflow-x: hidden;
  background-color: #edd1be;
  color: rgb(10, 54, 65);
  margin:0;
}
header {
  background-image: linear-gradient(to bottom, #edd1be, #edd1be00);
  padding: 0%;
  width: 100%;
  height: 77px;
  margin: 0%;
  object-fit: cover;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
}
.logo_rainydays {
  width: 83px;
  height: auto;
  padding-left: 2%;
  position: relative;
  top: 10px;
  left: 1px;
}
nav li {
  display: inline-block;
  font-weight: normal;
  padding-left: 1cm;
  color: rgb(10, 54, 65);
  position: relative;
  left: 100px;
  top: -40px;
  font-size: 1.5vw;
}
li a {
  text-decoration: none;
  color: rgb(10, 54, 65);
}
.hero_container{
    position: relative;
}
.hero_container img{
    width: 100.1%;
    height: cover;
}
.banner_text{
    text-align: center;
    position: absolute; 
    top: 15%;
    left: 17%;
    font-size: 3vw;
    border-radius: 5px;
    padding: 2%;
} 
h2 {
  font-size: 45px;
  top: 35%;
  left: 20%;
  text-align: center;
  padding: 2%;
}
.collection_container{
    display: grid;
    grid-template-columns: 1fr 1fr;;
    gap: 5px;
    color: #edd1be;
}
.spring_container{
    z-index: 3;
    position: relative;
    grid-column: 1/ spans 1;
    grid-row: 1/span 1;
}
  .spring_container img{
    width: 52%;
    max-width: 100%;
    height: auto;
}
  .spring_text{
    text-align: center;
    position: absolute; 
    top: 32%;
    left: 7%;
    font-size: 3vw;
} 
  .casual_container{
    position: relative;
    margin-right: 1%;
    position:rel;
    grid-column: 2/ spans 2;
    grid-row: 1/ spans 2;
}
  .casual_container img{
    width: 100%;
    max-width: 100%;
    height: auto;
}
  .Casual_container_text{
    text-align: center;
    position: absolute; 
    top: 8%;
    left: 10%;
    font-size: 3vw;
}
  .Extrem_container{
    position:relative;
    margin-top: 41.7%;
    grid-column: 2/ span 1;
    grid-row: 1/ spans 2;
}
.Extrem_container img{
    width: 100%;
    height: auto;
}
.extrem_text{
    text-align: center;
    position: absolute; 
    top: 10%;
    left: 10%;
    font-size: 3vw;
  }
.best_sellers h2 {
  font-size: 50px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  place-content: center;
}
.best_sellers_container {
  display: flex;
  flex-direction: row;
  flex: 1;
  place-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 5%;
}
.best_sellers img {
  width: 100%;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  box-sizing: border-box;
  position: static;
  max-width: 100%;
  place-content: right;
}
.best_sellers p {
  font-size: 100%;
  padding-left: 5%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  position: static;
}
.buttom_image_container {
  background-color: rgb(10, 54, 65);
  display: flex;
  width: 100%;
  height: auto;
  place-content: center;
}
.buttom_image_container img {
  width: 101.2%;
  height: auto;
  display: flex;
  max-width: 100%;
  position: static;
  place-content: right;
  padding-right: 1%;
}
.buttom_container {
  position: relative;
  padding-top: 3%;
  padding-bottom: 2%;
  max-width: 100%;
}
.more_to {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  color: rgb(10, 54, 65);
  font-size: 3vw;
  margin-top: -15%;
  transform: translate(-50%, -50%);
}
.explore {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  color: rgb(10, 54, 65);
  font-size: 4vw;
  margin-top: -8%;
  transform: translate(-50%, -50%);
}
.Take_hike {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  color: rgb(10, 54, 65);
  font-size: 3vw;
  margin-top: 1%;
  display: flex;
  transform: translate(-50%, -50%);
}
.About_us{
  display: flex;
  margin-top: 10%;
  padding-left: 4%;
  padding-right: 4%;
  flex-direction: row;
}
.About_us img {
  width: 700px;
  height: auto;
  display: flex;
  max-width: 100%;
  place-content: center;
  padding-right: 20px;
}
.about_us_text {
  text-align: justify;
  text-align: center;
  margin-top: 140px;
  color: rgb(10, 54, 65)
}
.about_us_text h1 {
  font-size: 50px;
}
.about_us_text p {
  font-size: 20px;
  letter-spacing: 2px;
}
@media only screen and (max-width: 1100px) {
  .About_us {
    flex-direction: column;
    width: 80%;
    height: auto;
    padding-left: 10.5%;
    padding-right: 0px;
  }
  .about_us_text {
    margin-top: 0px;
    width: 95%;
    color: rgb(10, 54, 65);
    place-content: left;
  }
  .about_us_text h1 {
    font-size: 30px;
  }
}
.contactbox_container .h1{
    padding-left: 10%;
    font-size: 50px;
}
.contact_box{
  display: flex;
    background-color: #fff;
    display: flex;
}
.contact_left{
    flex-basis: 50%;
    padding: 40px 60px;
}
.contact_left h3{
    text-align: center;
    padding: 1%;
    font-size: 2rem;
    margin-bottom: 6%;
}
.contact_right{
    flex-basis: 50%;
    padding: 40px;
    background-color: rgb(10, 54, 65);
    color: #fff;
}
.contact_container h1{
    margin-top: 10%;
    margin-left: 40%;
    font-size: 3rem;

}
.input_raw{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.input_raw .input_group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border:none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 1%;
}
textarea{
    width: 100%;
    border:none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding: 10px;
}
.contact_right{
    font-size: 2rem;
    text-align: center;
    font-family: helvetica, Arial;
    color
}
@media only screen and (max-width: 1000px) {
    .contact_box {
        flex-direction: column;
    }

    .contact_left,
    .contact_right {
        flex-basis: 100%; 
    }
}
.jacket_heading{
    display: flex;
}
.box_jacket {
    display: flex;
    width: 100%;
    margin-top: 4%;
    padding: 3%;
    background-color: rgb(10, 54, 64)
}
.box_jacket h1 {
    margin-top: 7%;
    margin-left: 5%;
    color: #edd1be;
    font-size: 4rem;
}
.box_jacket img {
    width: 30%; 
    height:auto;
    float: right; 
    margin-left: 250px;
    display: flex;
}
.Jacket_container {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-right: 3%;
    margin-left: 3%;
    justify-content: space-between;
}
.Jacket_container{
    display: flex;
    flex-wrap: wrap;

    margin: 4%;
}
.Jacket_container img{
    width: 100%;
    height: auto;
    display: block;
}
.Jacket_container :hover{
    transform:scale(1.05);
    transition: 0.5s;
    filter: brightness(95%);   
}
@media only screen and (max-width: 1277px) {
    .jacket_heading h1{
        margin-left: 10%;
        font-size: 3rem;
        text-align: center;
    }    
    .Jacket_container img{
        width: 90%;
        height: auto;
        padding-left: 12%;
        flex-direction: column;   
    }
    .box_jacket img {
        display: none;
    }
}
.logo_h1 h1{
    place-content: center;
}
.product_container{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    flex-wrap: wrap;
    justify-content:space-around;
    color: #edd1be;
    text-align: center;
    font-size: 1.5rem;
    place-content: center;
    text-wrap: balance;
}
.product_container h1 {
    padding: 2%;
    color: #edd1be;
    font-size: 3rem;
}
.big-img-product img{
  padding: %;
    width: 75%;
    height: auto;
    flex: 0 1 calc(50% - 10%)
}
.product_info{
    flex: 0 1 calc(50% - 10%); 
    background-color: rgb(10, 54, 64);
    padding: 2px;
    height: 10%;
    margin-right: 4%;
    flex-wrap: wrap;
}
.product_info li{
    margin-bottom: 3%;
    letter-spacing: 2px;
    list-style-type: none;
    text-align: left;
    place-content: center;
    margin-left: 10%;
}
.buy_button button{
    padding: 1%;
    margin-top: 3%;
    background-color: rgb(10, 54, 64);
    font-size: 40px;
    width: 100%;
    height: auto;
    color: #edd1be;
    border: none
}
.buy_button :hover{
    background-color: rgb(15, 75, 88);
}
.clothing_small_img{ 
    display: flex;
    margin-top: 1%;
}
.clothing_small_img img{
    width: 98%;
    height: auto;
}
.clothing_small_img :hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
.Things_you_like-container{
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    place-content: center;
    width: 100%;
    max-width: 100%;
    background-color: rgb(10, 54, 64) 
}
.things_you_like_img{
    padding: 3%;
    display: flex;
    flex-direction: row;
    gap:1%
}
.things_you_like_img img{
    width: 350px;
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width:  1266px) {
    h2{
        display: none;
    }
   .Things_you_like-container{
    display: none;
   }
   .product_info li {
    display: none;
   }
   .product_info{
    background-color:#edd1be
   }
   .product_container h1{
    color: rgb(10, 54, 64);
    padding: none;
   }
   .produckt_you_like h2{
    display:none
   }
}
.order_heading h1{
    padding: 1%;
    font-size: 3rem;
    text-align:center
}
.Discount_container{
    margin-top:10%;
    display: flex;
    align-items: center;
    place-content: center;
}
.Discount_container button{
    padding: 1%;
    margin-top: 1%;
    background-color: rgb(10, 54, 64);
    font-size: 20px;
    color: #edd1be;
    border: none
}
.First_product_place{
    margin-top: 3%;
    color: #edd1be;
    background-color: #0a3641;
    display: flex;
}
.product_1{
    flex-basis: 70%;
    padding: 40px 60px;
    font-size: 3rem;
}
.product_1 h3{
    text-align: center;
    margin-top: 10%;
}
.chek_out{
    flex-basis: 30%;
    padding: 40px;
    color:#0a3641;
    background-color: #edd1be;
}
.chek_out h3{
    text-align: center;
    padding: 1%;
    margin-bottom: 50%;
}
.chek_out button{
    margin-left: 20%;
    width:70%;
    padding: 1%;
    border: none;
    background-color:#0a3641;
    color: #edd1be
}
.second_product_place{
    background-color: #0a3641;
    display: flex;
    margin-top: 1%;
}
.product_2{
    flex-basis: 72%;
    padding: 40px 60px;
    color: #edd1be;
    font-size: 3rem;
    text-align: center;
}
.product_2 h3{
    padding: 2%;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-right: 11%;
}
.payment_icon{
    flex-basis: 30%;
    padding: 40px;
    color: #fff;
}
.footer_container {
    display: flex;
    flex-direction: column;
  }
  .footer_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    text-align: center;

  }
  .footer_box h3 {
    color: rgb(10, 54, 65);
  }
  .footer_box li a {
    text-decoration: none;
    list-style-type: none;
    font-size: 1rem;
    color: rgb(10, 54, 65);
    margin-right: 10%;
  }
  .footer_box ul {
    list-style-type: none;
  }
  .footer_left {
    flex-basis: 33.33%;
  }
  .footer_middel {
    flex-basis: 33.33%;
    text-decoration: none;
    letter-spacing: 2px;
  }
  .ikons i {
    color: rgb(10, 54, 65);
    letter-spacing: 2px;
    font-size: 2rem;
  }
  .ikons i:hover {
    color: rgb(15, 75, 88);
  }
  .instagram {
    background-image: url("instagram.svg");
  }
  .footer_right {
    flex-basis: 33.33%;
  }
  .footer_right input {
    margin-bottom: 2%;
    background-color: rgba(127, 255, 212, 0);
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 1%;
  }